@media screen and (max-width:1000px){

    nav{
        flex-direction: column;
    }

    .adds{
        height: 23vh;
    }

    .FlipCartLogo{
        justify-content: center;    
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
    }

    .searchbox{
        justify-content: center;
    }

    .searchbox input{
        margin: 12px 16px;
    }

    nav ul {
        height: 34px;
    }
    .item img{ 
        width: 160px;
    }
}


.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    color: white;
    background-color: rgb(62, 102, 223);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer; 
}

.text{
    margin: 5px 0;
}

.point1{
    margin: 26px 0;
}

.text{
    text-align: center;
}